<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID1573</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {1136, 640}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1136, 640}}</string>
                <key>sourceSize</key>
                <string>{1136, 640}</string>
            </dict>
            <key>PTModelSprite_ID1840</key>
            <dict>
                <key>frame</key>
                <string>{{1140, 0}, {285, 485}}</string>
                <key>offset</key>
                <string>{53, 8}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{245, 34}, {285, 485}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1841</key>
            <dict>
                <key>frame</key>
                <string>{{1429, 0}, {304, 470}}</string>
                <key>offset</key>
                <string>{58, 24}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{240, 26}, {304, 470}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1838</key>
            <dict>
                <key>frame</key>
                <string>{{1737, 0}, {283, 467}}</string>
                <key>offset</key>
                <string>{51, 19}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{244, 32}, {283, 467}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1826</key>
            <dict>
                <key>frame</key>
                <string>{{0, 644}, {283, 464}}</string>
                <key>offset</key>
                <string>{56, 11}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{249, 42}, {283, 464}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1839</key>
            <dict>
                <key>frame</key>
                <string>{{287, 644}, {283, 464}}</string>
                <key>offset</key>
                <string>{56, 11}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{249, 42}, {283, 464}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1842</key>
            <dict>
                <key>frame</key>
                <string>{{574, 644}, {283, 456}}</string>
                <key>offset</key>
                <string>{52, 19}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{245, 38}, {283, 456}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID12430</key>
            <dict>
                <key>frame</key>
                <string>{{861, 644}, {700, 400}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {700, 400}}</string>
                <key>sourceSize</key>
                <string>{700, 400}</string>
            </dict>
            <key>PTModelSprite_ID11885</key>
            <dict>
                <key>frame</key>
                <string>{{1565, 644}, {348, 398}}</string>
                <key>offset</key>
                <string>{30, -38}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{190, 123}, {348, 398}}</string>
                <key>sourceSize</key>
                <string>{669, 569}</string>
            </dict>
            <key>PTModelSprite_ID1776</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1112}, {282, 301}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {282, 301}}</string>
                <key>sourceSize</key>
                <string>{282, 301}</string>
            </dict>
            <key>PTModelSprite_ID7942</key>
            <dict>
                <key>frame</key>
                <string>{{286, 1112}, {364, 280}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {364, 280}}</string>
                <key>sourceSize</key>
                <string>{364, 280}</string>
            </dict>
            <key>PTModelSprite_ID9052</key>
            <dict>
                <key>frame</key>
                <string>{{654, 1112}, {228, 280}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {228, 280}}</string>
                <key>sourceSize</key>
                <string>{228, 280}</string>
            </dict>
            <key>PTModelSprite_ID8526</key>
            <dict>
                <key>frame</key>
                <string>{{886, 1112}, {679, 261}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {679, 261}}</string>
                <key>sourceSize</key>
                <string>{679, 261}</string>
            </dict>
            <key>PTModelSprite_ID442</key>
            <dict>
                <key>frame</key>
                <string>{{1569, 1112}, {234, 233}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {234, 233}}</string>
                <key>sourceSize</key>
                <string>{234, 233}</string>
            </dict>
            <key>PTModelSprite_ID8730</key>
            <dict>
                <key>frame</key>
                <string>{{1807, 1112}, {193, 210}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {193, 210}}</string>
                <key>sourceSize</key>
                <string>{193, 210}</string>
            </dict>
            <key>PTModelSprite_ID8029</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1417}, {511, 201}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {511, 201}}</string>
                <key>sourceSize</key>
                <string>{511, 201}</string>
            </dict>
            <key>PTModelSprite_ID1581</key>
            <dict>
                <key>frame</key>
                <string>{{515, 1417}, {450, 193}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {450, 193}}</string>
                <key>sourceSize</key>
                <string>{450, 193}</string>
            </dict>
            <key>PTModelSprite_ID342</key>
            <dict>
                <key>frame</key>
                <string>{{969, 1417}, {189, 173}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {189, 173}}</string>
                <key>sourceSize</key>
                <string>{189, 174}</string>
            </dict>
            <key>PTModelSprite_ID12376</key>
            <dict>
                <key>frame</key>
                <string>{{1162, 1417}, {264, 173}}</string>
                <key>offset</key>
                <string>{0, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{3, 6}, {264, 173}}</string>
                <key>sourceSize</key>
                <string>{270, 186}</string>
            </dict>
            <key>PTModelSprite_ID7222</key>
            <dict>
                <key>frame</key>
                <string>{{2024, 0}, {19, 150}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{65, 1}, {19, 150}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID6764</key>
            <dict>
                <key>frame</key>
                <string>{{2024, 154}, {19, 150}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{65, 1}, {19, 150}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID1576</key>
            <dict>
                <key>frame</key>
                <string>{{1140, 489}, {447, 139}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {447, 139}}</string>
                <key>sourceSize</key>
                <string>{447, 139}</string>
            </dict>
            <key>PTModelSprite_ID1685</key>
            <dict>
                <key>frame</key>
                <string>{{1591, 489}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1743</key>
            <dict>
                <key>frame</key>
                <string>{{1723, 489}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID7906</key>
            <dict>
                <key>frame</key>
                <string>{{1855, 489}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1732</key>
            <dict>
                <key>frame</key>
                <string>{{1430, 1417}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1629</key>
            <dict>
                <key>frame</key>
                <string>{{1562, 1417}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1619</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1622}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1616</key>
            <dict>
                <key>frame</key>
                <string>{{461, 1622}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1613</key>
            <dict>
                <key>frame</key>
                <string>{{922, 1622}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1610</key>
            <dict>
                <key>frame</key>
                <string>{{1383, 1622}, {417, 109}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {417, 109}}</string>
                <key>sourceSize</key>
                <string>{417, 109}</string>
            </dict>
            <key>PTModelSprite_ID1626</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1739}, {791, 109}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {791, 109}}</string>
                <key>sourceSize</key>
                <string>{791, 109}</string>
            </dict>
            <key>PTModelSprite_ID8194</key>
            <dict>
                <key>frame</key>
                <string>{{1917, 644}, {101, 101}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {101, 101}}</string>
                <key>sourceSize</key>
                <string>{101, 101}</string>
            </dict>
            <key>PTModelSprite_ID8005</key>
            <dict>
                <key>frame</key>
                <string>{{1917, 749}, {101, 101}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {101, 101}}</string>
                <key>sourceSize</key>
                <string>{101, 101}</string>
            </dict>
            <key>PTModelSprite_ID1589</key>
            <dict>
                <key>frame</key>
                <string>{{1804, 1622}, {228, 100}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {228, 100}}</string>
                <key>sourceSize</key>
                <string>{228, 100}</string>
            </dict>
            <key>PTModelSprite_ID1663</key>
            <dict>
                <key>frame</key>
                <string>{{1917, 854}, {100, 100}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 100}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>PTModelSprite_ID1660</key>
            <dict>
                <key>frame</key>
                <string>{{795, 1739}, {100, 100}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 100}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>PTModelSprite_ID12424</key>
            <dict>
                <key>frame</key>
                <string>{{899, 1739}, {98, 99}}</string>
                <key>offset</key>
                <string>{-1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {98, 99}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>PTModelSprite_ID12420</key>
            <dict>
                <key>frame</key>
                <string>{{1001, 1739}, {98, 99}}</string>
                <key>offset</key>
                <string>{-1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {98, 99}}</string>
                <key>sourceSize</key>
                <string>{100, 100}</string>
            </dict>
            <key>PTModelSprite_ID1955</key>
            <dict>
                <key>frame</key>
                <string>{{1103, 1739}, {158, 98}}</string>
                <key>offset</key>
                <string>{125, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{262, 23}, {158, 98}}</string>
                <key>sourceSize</key>
                <string>{432, 144}</string>
            </dict>
            <key>PTModelSprite_ID1604</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1852}, {911, 97}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {911, 97}}</string>
                <key>sourceSize</key>
                <string>{911, 97}</string>
            </dict>
            <key>PTModelSprite_ID8489</key>
            <dict>
                <key>frame</key>
                <string>{{1265, 1739}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 93}</string>
            </dict>
            <key>PTModelSprite_ID8471</key>
            <dict>
                <key>frame</key>
                <string>{{1397, 1739}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 93}</string>
            </dict>
            <key>PTModelSprite_ID7953</key>
            <dict>
                <key>frame</key>
                <string>{{1529, 1739}, {87, 93}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {87, 93}}</string>
                <key>sourceSize</key>
                <string>{87, 93}</string>
            </dict>
            <key>PTModelSprite_ID8453</key>
            <dict>
                <key>frame</key>
                <string>{{1620, 1739}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 93}</string>
            </dict>
            <key>PTModelSprite_ID1567</key>
            <dict>
                <key>frame</key>
                <string>{{1752, 1739}, {93, 93}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {93, 93}}</string>
                <key>sourceSize</key>
                <string>{93, 93}</string>
            </dict>
            <key>PTModelSprite_ID1484</key>
            <dict>
                <key>frame</key>
                <string>{{1849, 1739}, {81, 89}}</string>
                <key>offset</key>
                <string>{-1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {81, 89}}</string>
                <key>sourceSize</key>
                <string>{82, 90}</string>
            </dict>
            <key>PTModelSprite_ID1490</key>
            <dict>
                <key>frame</key>
                <string>{{1934, 1739}, {81, 89}}</string>
                <key>offset</key>
                <string>{-1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {81, 89}}</string>
                <key>sourceSize</key>
                <string>{82, 90}</string>
            </dict>
            <key>PTModelSprite_ID12389</key>
            <dict>
                <key>frame</key>
                <string>{{915, 1852}, {181, 88}}</string>
                <key>offset</key>
                <string>{0, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{22, 68}, {181, 88}}</string>
                <key>sourceSize</key>
                <string>{225, 225}</string>
            </dict>
            <key>PTModelSprite_ID1954</key>
            <dict>
                <key>frame</key>
                <string>{{1100, 1852}, {265, 87}}</string>
                <key>offset</key>
                <string>{70, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{153, 30}, {265, 87}}</string>
                <key>sourceSize</key>
                <string>{432, 144}</string>
            </dict>
            <key>PTModelSprite_ID1502</key>
            <dict>
                <key>frame</key>
                <string>{{1917, 958}, {90, 81}}</string>
                <key>offset</key>
                <string>{0, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {90, 81}}</string>
                <key>sourceSize</key>
                <string>{90, 82}</string>
            </dict>
            <key>PTModelSprite_ID11921</key>
            <dict>
                <key>frame</key>
                <string>{{1987, 489}, {46, 81}}</string>
                <key>offset</key>
                <string>{2, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{12, 0}, {46, 81}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11920</key>
            <dict>
                <key>frame</key>
                <string>{{2004, 1112}, {38, 81}}</string>
                <key>offset</key>
                <string>{2, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{16, 0}, {38, 81}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11919</key>
            <dict>
                <key>frame</key>
                <string>{{2011, 958}, {29, 81}}</string>
                <key>offset</key>
                <string>{2, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{20, 0}, {29, 81}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11918</key>
            <dict>
                <key>frame</key>
                <string>{{2024, 308}, {18, 81}}</string>
                <key>offset</key>
                <string>{1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{25, 0}, {18, 81}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11917</key>
            <dict>
                <key>frame</key>
                <string>{{2022, 644}, {18, 81}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{23, 0}, {18, 81}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11915</key>
            <dict>
                <key>frame</key>
                <string>{{2004, 1197}, {37, 81}}</string>
                <key>offset</key>
                <string>{-2, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{13, 0}, {37, 81}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11916</key>
            <dict>
                <key>frame</key>
                <string>{{1369, 1852}, {28, 81}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{18, 0}, {28, 81}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11912</key>
            <dict>
                <key>frame</key>
                <string>{{1401, 1852}, {58, 80}}</string>
                <key>offset</key>
                <string>{-1, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{3, 1}, {58, 80}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11913</key>
            <dict>
                <key>frame</key>
                <string>{{1463, 1852}, {53, 80}}</string>
                <key>offset</key>
                <string>{-2, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{5, 1}, {53, 80}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11914</key>
            <dict>
                <key>frame</key>
                <string>{{1520, 1852}, {46, 80}}</string>
                <key>offset</key>
                <string>{-2, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{8, 1}, {46, 80}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11922</key>
            <dict>
                <key>frame</key>
                <string>{{1570, 1852}, {53, 80}}</string>
                <key>offset</key>
                <string>{3, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{9, 1}, {53, 80}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11923</key>
            <dict>
                <key>frame</key>
                <string>{{1627, 1852}, {58, 80}}</string>
                <key>offset</key>
                <string>{2, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{6, 1}, {58, 80}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11911</key>
            <dict>
                <key>frame</key>
                <string>{{1689, 1852}, {62, 79}}</string>
                <key>offset</key>
                <string>{-1, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{1, 2}, {62, 79}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID1591</key>
            <dict>
                <key>frame</key>
                <string>{{1755, 1852}, {79, 79}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {79, 79}}</string>
                <key>sourceSize</key>
                <string>{79, 79}</string>
            </dict>
            <key>PTModelSprite_ID11925</key>
            <dict>
                <key>frame</key>
                <string>{{1838, 1852}, {64, 79}}</string>
                <key>offset</key>
                <string>{1, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{2, 2}, {64, 79}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11910</key>
            <dict>
                <key>frame</key>
                <string>{{1906, 1852}, {65, 79}}</string>
                <key>offset</key>
                <string>{-1, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 2}, {65, 79}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11924</key>
            <dict>
                <key>frame</key>
                <string>{{1975, 1852}, {62, 79}}</string>
                <key>offset</key>
                <string>{2, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{4, 2}, {62, 79}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11906</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1953}, {66, 78}}</string>
                <key>offset</key>
                <string>{0, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 3}, {66, 78}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11907</key>
            <dict>
                <key>frame</key>
                <string>{{70, 1953}, {66, 78}}</string>
                <key>offset</key>
                <string>{0, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 3}, {66, 78}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11909</key>
            <dict>
                <key>frame</key>
                <string>{{140, 1953}, {66, 78}}</string>
                <key>offset</key>
                <string>{0, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 3}, {66, 78}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID6234</key>
            <dict>
                <key>frame</key>
                <string>{{210, 1953}, {124, 78}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {124, 78}}</string>
                <key>sourceSize</key>
                <string>{124, 78}</string>
            </dict>
            <key>PTModelSprite_ID8408</key>
            <dict>
                <key>frame</key>
                <string>{{338, 1953}, {97, 78}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {97, 78}}</string>
                <key>sourceSize</key>
                <string>{97, 78}</string>
            </dict>
            <key>PTModelSprite_ID11908</key>
            <dict>
                <key>frame</key>
                <string>{{439, 1953}, {66, 78}}</string>
                <key>offset</key>
                <string>{0, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 3}, {66, 78}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID11926</key>
            <dict>
                <key>frame</key>
                <string>{{509, 1953}, {65, 78}}</string>
                <key>offset</key>
                <string>{1, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{1, 3}, {65, 78}}</string>
                <key>sourceSize</key>
                <string>{66, 81}</string>
            </dict>
            <key>PTModelSprite_ID8004</key>
            <dict>
                <key>frame</key>
                <string>{{578, 1953}, {97, 78}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {97, 78}}</string>
                <key>sourceSize</key>
                <string>{97, 78}</string>
            </dict>
            <key>PTModelSprite_ID1787</key>
            <dict>
                <key>frame</key>
                <string>{{679, 1953}, {77, 77}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {77, 77}}</string>
                <key>sourceSize</key>
                <string>{77, 77}</string>
            </dict>
            <key>PTModelSprite_ID1598</key>
            <dict>
                <key>frame</key>
                <string>{{760, 1953}, {87, 72}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {87, 72}}</string>
                <key>sourceSize</key>
                <string>{87, 72}</string>
            </dict>
            <key>PTModelSprite_ID3747</key>
            <dict>
                <key>frame</key>
                <string>{{851, 1953}, {133, 65}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {133, 65}}</string>
                <key>sourceSize</key>
                <string>{133, 65}</string>
            </dict>
            <key>PTModelSprite_ID2288</key>
            <dict>
                <key>frame</key>
                <string>{{988, 1953}, {62, 64}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {62, 64}}</string>
                <key>sourceSize</key>
                <string>{62, 64}</string>
            </dict>
            <key>PTModelSprite_ID151</key>
            <dict>
                <key>frame</key>
                <string>{{1054, 1953}, {63, 62}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {63, 62}}</string>
                <key>sourceSize</key>
                <string>{63, 63}</string>
            </dict>
            <key>PTModelSprite_ID110</key>
            <dict>
                <key>frame</key>
                <string>{{1121, 1953}, {63, 62}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {63, 62}}</string>
                <key>sourceSize</key>
                <string>{63, 63}</string>
            </dict>
            <key>PTModelSprite_ID3760</key>
            <dict>
                <key>frame</key>
                <string>{{861, 1048}, {73, 47}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {73, 47}}</string>
                <key>sourceSize</key>
                <string>{73, 47}</string>
            </dict>
            <key>PTModelSprite_ID3829</key>
            <dict>
                <key>frame</key>
                <string>{{938, 1048}, {73, 47}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {73, 47}}</string>
                <key>sourceSize</key>
                <string>{73, 47}</string>
            </dict>
            <key>PTModelSprite_ID4594</key>
            <dict>
                <key>frame</key>
                <string>{{1015, 1048}, {116, 44}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {116, 44}}</string>
                <key>sourceSize</key>
                <string>{116, 44}</string>
            </dict>
            <key>PTModelSprite_ID3772</key>
            <dict>
                <key>frame</key>
                <string>{{1987, 574}, {50, 41}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {50, 41}}</string>
                <key>sourceSize</key>
                <string>{50, 41}</string>
            </dict>
            <key>PTModelSprite_ID2108</key>
            <dict>
                <key>frame</key>
                <string>{{1135, 1048}, {49, 41}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {49, 41}}</string>
                <key>sourceSize</key>
                <string>{49, 41}</string>
            </dict>
            <key>PTModelSprite_ID12413</key>
            <dict>
                <key>frame</key>
                <string>{{2024, 393}, {16, 16}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {16, 16}}</string>
                <key>sourceSize</key>
                <string>{16, 16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID107.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID107.png</string>
        </dict>
    </dict>
</plist>
